@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d2d37;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: "Roboto", sans-serif;
}

.App {
  font-family: sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.todo {
  width: 20%;
  margin: 5px 5px;
}

input {
  width: 300px;
  padding: 10px 0;
  margin: 5px 5px;
  border-radius: 6px;
}

input:focus {
  outline: none;
}

.todo {
  background-color: #e64944;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.todo.completed {
  background-color: #d17d7c;
  text-decoration: line-through;
}
